spring:
  datasource:
    url: jdbc:postgresql://tramway.proxy.rlwy.net:30560/railway
    username: postgres
    password: dSoTzAtcuTOXTUTWBwkxsyqOZkRCxOqs
    driver-class-name: org.postgresql.Driver

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

server:
  port: ${PORT:8080}
