spring:
  datasource:
    url: jdbc:postgresql://tramway.proxy.rlwy.net:30560/project_ppob_db
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
